{% extends 'products/base.html'%} 
{% load crispy_forms_tags%} 
{% load static %}
{% block content%}
<br/>

<div class="container container-fluid">
  <form id = "form" method="POST"> 
      {% csrf_token %}  
      <div class="col-12">
        {{form.email|as_crispy_field}}
    </div>
      <div class="col-12">
          {{form.username|as_crispy_field}}
      </div>
      <div class="col-12">
          {{form.password1|as_crispy_field}}
      </div>
      <div class="col-12">
        {{form.password2|as_crispy_field}}
    </div>
      <br> <br> 
      <div class="col-12">
          <input type="submit" name = "Submit" class="btn btn-info btn-danger btn-block" type="button">
      </div>
      <br>                
</form>      
</div>
</div>  
{% endblock %}
